<app-bug-stats [data]="bugs"></app-bug-stats>
<section class="sort">
    <label for="">Order By :</label>
    <select #selectSortAttr (change)="sortAttr = selectSortAttr.value">
        <option value="id">Id</option>
        <option value="name">Name</option>
        <option value="isClosed">Status</option>
        <option value="createdAt">Created</option>
    </select>
    <label for="">Descending ? :</label>
    <input type="checkbox" #chkSortByDesc (change)="isDesc = chkSortByDesc.checked">
</section>
<app-bug-edit (bugAdded)="onNewBugAdded($event)"></app-bug-edit>
<section class="list">
    <ol>
        <li *ngFor="let bug of bugs|sort:sortAttr:isDesc">
            <span class="bugname" 
                [ngClass]="{closed : bug.isClosed}"
                (click)="onBugNameClick(bug)"
            >
                {{bug.name | trimText:40}}
            </span>
            <span> - [ {{bug.id}} ]</span>
            <div class="datetime" [title]="bug.createdAt | date:'dd-MMM-yyyy hh:mm:ss a'">[ {{bug.createdAt | elapsed}} ]</div>
            <input type="button" value="Remove" (click)="onRemoveClick(bug)">
        </li>
    </ol>
    <input type="button" value="Remove Closed" (click)="onRemoveClosedClick()">
</section>
