<p>
	<a [routerLink]="['/add']">Create New</a>
</p>
<app-bug-stats [data]="bugs"></app-bug-stats>
<section class="sort">
	<label for="">Order By :</label>
	<select (change)="sortAttr = $event.target.value">
		<option value="name">Name</option>
		<option value="isClosed">Status</option>
	</select>
	<label for="">Descending ? :</label>
	<input type="checkbox" (change)="sortDesc = $event.target.checked">
</section>
<section class="list">
	<ol>
		<li *ngFor="let bug of (bugs | sort:sortAttr:sortDesc)">
			<span class="bugname" 
				(click)="onBugNameClick(bug)"
				[ngClass] = "{closed : bug.isClosed}"
			>
				{{bug.name | trimText:40}}
			</span>
			<div class="datetime">[ {{bug.createdAt | elapsed }} ]</div>
			<div><a [routerLink]="['/details',bug.id]">More...</a></div>
		</li>
	</ol>
	<input type="button" value="Remove Closed" (click)="onRemoveClosedClick()">
</section>